  <div id="all-cocktails">
    <p><%= link_to 'All Cocktails', cocktails_path %></p>
  </div>

  <div class="container main" >
    <div class="card-cocktail cocktail-info" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>')">
      <h2 id="h2"><%= @cocktail.name.capitalize %></h2>
    </div>

    <div class="row recipe-dose">
      <div class="col-sm-12 col-md-6 recipe">
        <h3>Recipe</h3><br>
        <table class="table table-bordered">
          <tbody>
            <thead>
              <th>Ingredient</th>
              <th>Description</th>
              <th>Action</th>
            </thead>
            <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>
              <td class="center">
                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash destroy_dose"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-sm-12 col-md-6 form-header add-dose">
        <h3>Add an Ingredient & Amount</h3>
        <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
      </div>

    </div>

    <div class="row" id="reviews">
      <div class="col-sm-12 col-md-6 review">
        <h3>Reviews</h3><br>
        <% if @cocktail.reviews.empty? %>
        <span class="form-header">Be the first to leave a review</span>
        <% else %>
        <ul class="list-group">
          <% @cocktail.reviews.each do |review| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            "<%= review.content %>"
            <span class="badge badge-dark badge-pill">
              <% counter = 0 %>
              <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
              <% end %>
            </span>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-6 add-review">
        <h3>Add a Review</h3>
        <%= render "reviews/new", cocktail: @cocktail, review: @review %>
      </div>
    </div>
  </div>
